#top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#gameboard-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

}
button.cell {
    height: 50px;
}