#gameboard-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: (3, 1fr);

}
.cell {
    background-color: lightgray;    border-style: solid;
    border-color: black;
    height: 50px;
}